html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: block; /* remove flex centering */
}

.page-container {
  min-height: 100vh;
}

.page-row {
  flex: 1;
  min-height: 100vh;
}

.page-col.content {
  flex: 1;
}
