/* General Reset to remove default margins and padding */
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

:root {
  --main-color: #f0f1f2;
  --background-color-recent-work: whitesmoke;
  --font-color: #000000;
  --font-family-headings: arial, sans-serif;
  --font-family-main: arial, sans-serif;
  --font-family-menu-label: arial, sans-serif;
  --font-size: 16px;
  --font-size-h1: 40px;
  --border-radius: 8px;
  --shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-recent-work: 0 4px 8px rgba(245, 245, 245, 0.1);
}

html,
body {
  min-height: 100vh;
}
